<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="admin.css">
    <title>Admin</title>
</head>
<body>
    <nav id="admin-nav">
       <ul >
           <li><a href="/admin/add-product"> Add Products</a></li>
           <li><a href="/admin/view-product">View Products</a></li>
           <li><a href="/admin/logout">Logout</a></li>
       </ul>
    </nav>

    
</body>
</html>