<nav id="admin-nav">
        <ul >
            <li><a href="/admin/add-product"> Add Products</a></li>
            <li><a href="/admin/products">View Products</a></li>
            <li><a href="/admin/logout">Logout</a></li>
        </ul>
     </nav>